.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* .input-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #374669;
    border-radius: 5px;
    background: #fff;

    overflow: hidden;
} */

/* .input-icon-container button {
    padding: 10px;
    float: right;
} */

/* .input-icon-container input {
    outline: none;
    border: none;
    background: none;
    font-size: 1em;
    padding: 0.5em;
    color: inherit;
    flex: auto 1 1;
    float: left;
    width: 100%;
    background: none;
    background-color: transperant;
} */

.button .icon {
    background: "../public/closed-eye.png" no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.navvy {
    background-color: #3e0070;
    text-decoration-color: #61dafb;
}

#video-container {
    margin: 0px auto;
    width: 366.6px;
    height: 275px;
}

#webcam-element {
    width: 366.6px;
    height: 275px;
    background-color: #666;
    border: 10px solid #333;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.photo {
    height: 200px;
    width: 200px;
}
